<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katiui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KatiUI">
        <activity android:name=".kati.review.ReviewActivity"></activity>
        <activity android:name=".kati.setRestoreEmail.SetRestoreEmailActivity" />
        <activity android:name=".kati.findId.FindIdActivity" />
        <activity android:name=".kati.editName.EditNameActivity" />
        <activity android:name=".kati.findPassword.FindPasswordActivity" />
        <activity android:name=".kati.login.LoginActivity" />
        <activity android:name=".kati.signOut.SignOutActivity" />
        <activity
            android:name=".kati.editPassword.EditPasswordActivity"
            android:label="@string/title_activity_password_edit"
            android:theme="@style/Theme.KatiUI.NoActionBar" />
        <activity
            android:name=".kati.signUp.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.KatiUI.NoActionBar" />
        <activity android:name=".kati.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>